[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
fuzzywuzzy = "*"
seaborn = "*"
ipykernel = "*"
sklearn = "*"
pyarrow = "*"
redis = "*"
argparse = "*"

[requires]
python_version = "3.8"
